name: Copilot Setup Steps
"on":
  pull_request:
    paths:
    - .github/workflows/copilot-setup-steps.yml
  push:
    paths:
    - .github/workflows/copilot-setup-steps.yml
  workflow_dispatch: null
jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
    - name: Install gh-aw extension
      uses: github/gh-aw/actions/setup-cli@v0.51.2
      with:
        version: v0.51.2
    - name: Set up dotnet
      uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309
      with:
        global-json-file: global.json
    - name: Set up Go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417
      with:
        cache-dependency-path: src/Garage.FeatureFlags/go.sum
        go-version: "1.25"
    - name: Set up Node.js
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
      with:
        cache: npm
        cache-dependency-path: src/Garage.Web/package-lock.json
        node-version: "22"
    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
      with:
        python-version: "3.14"
